<h1 class="rainbow-letters">Rainbow Rescue Ranch</h1>
<h4>Boarding and Safe house for Dogs.</h4>
<br />
<blockquote>When life gets ruff, head to the ranch</blockquote>
<br />

<p *ngIf="!selected">Please select a Dog's name to view profile</p>

<div *ngIf="!selected">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Breed</th>
      <th>Adoptable</th>
      <th>Delete</th>
    </thead>
    <tbody class="table-hover">
      <tr *ngFor="let dog of dogs">
        <td class="seeElDog" (click)="displayDog(dog)">
          {{ dog.name | titlecase }}
        </td>
        <td>{{ dog.breed | titlecase }}</td>
        <td>{{ dog.adoptable ? "Available!" : "No" }}</td>
        <td>
          <button class="btn btn-outline-warning" (click)="deleteDog(dog.id)">
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<form *ngIf="!selected">
  <input
    type="text"
    name="addDog"
    placeholder="Enter new dog's name"
    [(ngModel)]="newDog.name"
  />
  <br />
  <button class="btn btn-outline-primary" (click)="addDog(newDog)">
    Add Dog
  </button>
</form>

<div id="doggoDetail" *ngIf="selected">
  <h2 class="profName">{{ selected.name }}</h2>

  <table class="table table-striped">
    <thead>

    </thead>
    <tbody class="doggoProfile">
      <tr>
        Breed:
        {{
          selected.breed
        }}
      </tr>
      <tr>
        Currently
        {{
          selected.onSite ? "On Site" : "Off Site"
        }}
      </tr>
      <tr>
        {{
          selected.isFriendly ? "Friendly" : "Not Friendly"
        }}
      </tr>
      <tr>
        {{
          selected.description
        }}
      </tr>
      <tr>
        {{
          selected.height
        }}
        inches tall
      </tr>
      <tr>
        {{
          selected.length
        }}
        inches long
      </tr>
      <tr>
        {{
          selected.weight
        }}
        pounds
      </tr>
      <tr>
        Owner:
        {{
          selected.owner
        }}
      </tr>
      <tr>
        {{
          selected.adoptable ? selected.name + " is" : "not"
        }}
        available for adoption!
      </tr>
      <tr>
        Birthday:
        {{
          selected.birthDay | date
        }}
      </tr>
      <tr>
        {{
          selected.gender | titlecase
        }}
      </tr>
      <tr>
        {{
          selected.fixed ? "Fixed" : "Not Fixed"
        }}
      </tr>
    </tbody>
  </table>
  <button
    *ngIf="!editDog"
    class="btn btn-outline-primary"
    (click)="setEditDog()"
  >
    Update {{ selected.name }}
  </button>
  <br />
  <button
    *ngIf="!editDog"
    class="btn btn-outline-primary"
    (click)="displayTable()"
  >
    Return to Kennel
  </button>
</div>
<!-- <div class="dogPic"><img src=`{{ selected.dogPhoto }}` alt="Dog photo"></div> -->

<div id="dogEdit" *ngIf="editDog">
  <form>
    <input
      type="name"
      placeholder="name"
      [(ngModel)]="editDog.name"
      [ngModelOptions]="{ standalone: true }"
    />
    <br />

    <input
      type="breed"
      placeholder="breed"
      [(ngModel)]="editDog.breed"
      [ngModelOptions]="{ standalone: true }"
    />
    <br />
    <label for="adoptable">Adopatable? &nbsp;</label>
    <input
      type="checkbox"
      placeholder="Adoptable"
      [(ngModel)]="editDog.adoptable"
      [ngModelOptions]="{ standalone: true }"
    /><br />
    <label for="onSite">On Site? &nbsp;</label>
    <input
      type="checkbox"
      placeholder="onSite"
      [(ngModel)]="editDog.onSite"
      [ngModelOptions]="{ standalone: true }"
    /><br />

    <input
      type="text"
      placeholder="description"
      [(ngModel)]="editDog.description"
      [ngModelOptions]="{ standalone: true }"
    />
    <br />

    <input
      type="height"
      placeholder="Height"
      [(ngModel)]="editDog.height"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="updateDog(editDog)"
    />
    <br />

    <input
      type="text"
      placeholder="Length"
      [(ngModel)]="editDog.length"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="updateDog(editDog)"
    />
    <br />

    <input
      type="text"
      placeholder="Weight"
      [(ngModel)]="editDog.weight"
      [ngModelOptions]="{ standalone: true }"
    />
    <br />

    <input
      type="text"
      placeholder="Owner"
      [(ngModel)]="editDog.owner"
      [ngModelOptions]="{ standalone: true }"
    />
    <br />

    <input
      type="date"
      placeholder="Birthday"
      [(ngModel)]="editDog.birthDay"
      [ngModelOptions]="{ standalone: true }"
    />
    <br />

    <label for="gender">Gender: &nbsp;</label>
    <select
      id="gender"
      name="gender"
      [(ngModel)]="editDog.gender"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="non-binary">Non-Binary</option>
    </select>
    <br />
    <label for="fixed">Fixed? &nbsp;</label>
    <input
      type="checkbox"
      placeholder="Fixed?"
      [(ngModel)]="editDog.fixed"
      [ngModelOptions]="{ standalone: true }"
    /><br />

    <button class="btn btn-outline-primary" (click)="editDog = null">
      Cancel
    </button>
    <button class="btn btn-outline-primary" (click)="updateDog(editDog)">
      Save Update
    </button>
  </form>
</div>
